@font-face{
    font-family: 'Pinyon Script';
    src: url('Assets/fonts/PinyonScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body
{
}
button {
    display: block;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-family:Ebrima;
}
p {
    text-align: center;
    font-family: "Pinyon Script";
    font-size: 30px;
    max-width: 40%;
    display: block;
    margin: 50px auto;
}
.moneybutton {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px auto;
    align-content: center;
}
.moneyamount {
    font-size: 30px;
    font-family: 'Impact';
    text-align: center;
}
.bidder {
    font-size: 35px;
    /*Change font*/
    font-family: 'Gloucester MT';
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    gap: 10px;
}