html {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
header {
    font-family: 'Eurostile Bold';
    font-size: 30px;
}
button {
    font-family: 'Eurostile Bold';
}